body {
    background-color: rgb(46, 46, 46);
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #daa520;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

li {
    cursor: pointer;
}

.header {
    height: 12vh;
    width: 100%;
    background-color: rgb(24, 24, 24);
    /* border-bottom: #daa520 solid 2px; */
}

.header a {
    transition: all 0.2s ease-in-out;
}

#b_sair {
    transition: all 0.2s ease-in-out;
}

.header a:hover {
    color: #e2b84d;
    /* color: rgba(255, 255, 255, 1); */
    text-shadow: 0 0px 10px #f1d488;
}

 #b_sair:hover {
    color: #e2b84d;
    /* color: rgba(255, 255, 255, 1); */
    text-shadow: 0 0px 10px #f1d488;
}

.ulGlow {
    transition: all 0.2s ease-in-out;
}

.ulGlow:hover {
    color: #e2b84d;
    text-shadow: 0 0px 10px #f1d488;
}

.container {
    width: 80%;
    align-self: center;
    justify-content: space-around;
    display: flex;
    margin: auto;
    margin-bottom: none;
    /* border: dashed chartreuse 3px; */
}

.cont1 {
    margin: auto;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0.6vh;
}

.header img{
    margin: 0.5%;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0%;
    width: 60%;
}

.navbar a:hover {
    font-size: 20px;
}

.sideList {
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: left;
    height: 102vh;
    width: 100%;
    margin-top: -6px;
    background-color: rgb(24, 24, 24);
    /* border-right: #daa520 solid 2px;
    border-bottom: #daa520 solid 2px; */
    /* position: sticky;
    top: 0; */
}

#contList {
        position: sticky;
        top: 0;
}

.guideFramework {
    display: flex;
    width: 100%;
    /* justify-content: center; */
}

.contGuideDark {
    width: 127.8%;
    background-color: rgb(30, 30, 30);
    /* margin-left: 10%; margin-right: 10%; margin-top: 2%; */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 20px; padding-bottom: 20px;
}

.contGuideLight {
    width: 127.8%;
    background-color: rgb(80, 80, 80);
    /* margin-left: 10%; margin-right: 10%; margin-top: 2%; */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 20px; padding-bottom: 20px;
}

#b_sair:hover {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #daa520;
    font-size: 2vh;
}

.header button {
    color: #daa520;
    background: transparent;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    cursor: pointer;
}

.destaque a{
    color: #f1d488;
}

.photoslide { /*CAROUSEL CSS HTML*/
    width: 100%;
    height: 90vh;
    /* background-color: rgb(30, 30, 30); */
}

/* .photoslide img {
    height: 100%;
} */


.div_lore {
    color: #daa520;
    border-left: 10vw; border-right: 10vw;
    display: flex;
    width: 100%;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    font-size: 4vh;
    padding: 1vw;
    border: dashed coral 2px;

}

.div_lore h2 {
    font-size: 8vh;
}

.container.cont1 {
    border: dashed red 3px;
    width: 80%;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: column;
    align-items: center;
}

.centralImg{
    width: 100%;
}

.icon {
    width: 64px;
}

.cont2{
    width: 80%;
    margin-left: 10%; margin-right: 10%; margin-top: 2%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    border: dashed blueviolet 3px;
}

.rowtitle{
    text-align: center;
    background-color: rgb(30, 30, 30);
    margin-bottom: 1vh;
    width: 25vw;
    margin-left: 1vh;
    margin-right: 1vh;
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: 5vh;
    border: solid #daa520 2px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.glow-button1:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0px 15px #f1d488;
  }

#galeriaVisu {
    font-size: 32px;
    align-items: center;
    justify-content: center;
}

.avisoErro {
    font-size: 24px;
    width: 50%;
    background-color: #740909af;
    padding: 10px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: #daa520 2px solid;
}

#galeriaVisu img {
    height: 48px; width: 48px;
    margin-left: 20px;
    margin-right: 20px;
}

.row { /*Animations and Transitions CSS*/
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* border: dashed green 3px; */
}

.row img {
    width: 25vw;
    height: 75vh;
    object-fit: cover;
    border-radius: 10px;
}

.cell {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0.8%;
    border-radius: 10px;
    /* border: solid #daa520 0.2vw; */
    width: 25vw;
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.pic img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* .pic img:hover {
    box-shadow: 0 0px 15px #f1d488;
} */

.cont3 {
    border: dashed orangered 3px;
    display: flex;
    justify-content: center;
}

.cont4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* border: dashed cyan 2px; */
}

.UmbralIceGuide {
    /* border: dashed cyan 3px; */
    width: 45%;
    /*height: 700px;*/
    background-color: #a1d1ecb4;
    padding: 2%;
    border-radius: 10px;
    color: #ffffff;
}

.AstralFireGuide {
    /* border: dashed orange 3px; */
    width: 45%;
    /*height: 700px;*/
    background-color: #dd371ac4;
    padding: 2%;
    border-radius: 10px;
}

.GuideFloatText {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2%;
}

.container.cont1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginCard {
    background-color: rgb(24, 24, 24);
    height: 60vh; width: 30vw;
    border-radius: 2%;
    margin: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginCard button {
    height: 10%;
    border: #daa520 2px solid;
    margin: 4%;
    background-color: rgb(15, 15, 15);
    color: #daa520;
    border-radius: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.loginCard .cell {
    border: none;
    align-items: center;
}

.cell input {
    background: transparent;
    border: none;
    border-bottom: #daa520 2px solid;
    height: 5vh;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4vh;
    text-align: center;
}

.loginCard input:focus {
    outline: none;
}

.cadCard {
    background-color: rgb(24, 24, 24);
    height: 90vh; width: 30vw;
    border-radius: 2%;
    margin: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadCard button {
    height: 10%;
    border: #daa520 2px solid;
    margin: 4%;
    background-color: rgb(15, 15, 15);
    color: #daa520;
    border-radius: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cadCard .cell {
    border: none;
    align-items: center;
}

.cell button {
    width: 50%;
    height: 15%;
}

.centralize {
    align-items: center;
}

.foguinho {
    color: #f75b47;
}
.gelinho {
    color: #86f7f7;
}

.mp{
    color: #9b3ef1;
}

#fire4basic span {
    color: #6b69f3;
    border-bottom: #6b69f3 solid 2px;
}

/* .cont2 img{
    box-shadow: 4px 4px 4px #000000af;
} */

.highlight:hover {
    /* background-color: rgb(70, 70, 70); */
    border: #e2b84d solid 2px;
}

#gBasicHover:hover {
    /*background-image: url("https://cdn.discordapp.com/attachments/585890183870677006/978689514954444870/e05e1f516840302dea6e11d71db67147_-_best-jobs-final-fantasy_2.jpg");
    */
    cursor: pointer;
}   

#gInterHover:hover {
    /* background-image: url(""); */
    cursor: pointer;
}

#gAdvHover:hover {
    /* background-image: url(""); */
    cursor: pointer;
}

#gComunidade:hover {
    /* background-image: url(""); */
    cursor: pointer;
}

#gConcept:hover {
    /* background-image: url(""); */
    cursor: pointer;
}

#gChara:hover {
    /* background-image: url(""); */
    cursor: pointer;
}

.rotation {
    /* background-color: rgb(24, 24, 24); */
    width: 1200px;
    /*height: 150px;*/
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /*padding-top: 10px; padding-bottom: 10px;*/
    flex-direction: column;

}

.gcd {
    height: 48px; width: 48px;
    margin-left: 15px; margin-right: 15px;
    box-shadow: 4px 4px 4px #000000af;
    background-size: 100% 100%;
}

.ogcd {
    height: 30px; width: 30px;
    margin-left: 5px; margin-right: 5px;
    box-shadow: 4px 4px 4px #000000af;
    background-size: 100% 100%;
}

.UmbralIceGuide img {
    box-shadow: 4px 4px 4px #000000af;
    width: 64px;
}

.AstralFireGuide img {
    box-shadow: 4px 4px 4px #000000af;
}

.cup {
    display: flex;
    justify-content: center;
    padding-top: 10px; padding-bottom: 5px;
    /* border: dashed crimson 2px; */
    width: 100%;
}

.cup .startRotation {
    width: 48px; height: 48px;
}

.rotationDirection {
    width: 30px; height: 30px;
    margin-top: 1%;
}

.textbox {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.imgnoshadow {
    box-shadow: none;
}

.alo {
    justify-content: space-around;
}

.div_lore1 {
    width: 100%;
    height: 400px;
    background-color: rgb(15, 15, 15);
    display: flex;
    /* margin-left: 100px;
    margin-right: 100px; */
    /* flex-direction: column; */
    /* padding-left: 100px;
    padding-right: 100px; */
    justify-content: center;
    align-items: center;
}

#ff1 {
    background-color: rgb(24, 24, 24);
}

.cont5 {
    /* margin-left: 5%;
    margin-right: 5%; */
    display: flex;
    text-align: center;
    /* border: dashed lime 3px; */
}

.cont5 img {
    width: 540px;
}

.superCont {
    width: 90%;
    display: flex;
    margin-top: none;
    justify-content: space-evenly;
    /* border: dashed salmon 2px; */
}

.superCont .cont2 {
    margin-left: none; margin-right: none; margin-top: none;
}

.superCont .cont4 {
    width: 80%;
    margin-left: none; margin-right: none; margin-top: none;
}

/* SPELLS */
.f1 {
    background-image: url('../assets/BLM/Spells/F1.png');
}

.f2 {
    background-image: url('../assets/BLM/Spells/F2.png');
}

.f3 {
    background-image: url('../assets/BLM/Spells/F3.png');
}

.f4 {
    background-image: url('../assets/BLM/Spells/F4.png');
}

.flare {
    background-image: url('../assets/BLM/Spells/Flare.png');
}

.firestarter {
    background-image: url('../assets/BLM/Spells/FireStarter.png');
}

.b1 {
    background-image: url('../assets/BLM/Spells/B1.png');
}

.b2 {
    background-image: url('../assets/BLM/Spells/B2.png');
}

.b3 {
    background-image: url('../assets/BLM/Spells/B3.png');
}

.b4 {
    background-image: url('../assets/BLM/Spells/B4.png');
}

.freeze {
    background-image: url('../assets/BLM/Spells/Freeze.png');
}

.t1 {
    background-image: url('../assets/BLM/Spells/T1.png');
}

.t2 {
    background-image: url('../assets/BLM/Spells/T2.png');
}

.t3 {
    background-image: url('../assets/BLM/Spells/T3.png');
}

.t4 {
    background-image: url('../assets/BLM/Spells/T4.png');
}

.transpose {
    background-image: url('../assets/BLM/Spells/Transpose.png');
}

.sharpcast {
    background-image: url('../assets/BLM/Spells/Sharpcast.png');
}

.despair {
    background-image: url('../assets/BLM/Spells/Despair.png');
}

.hf2 {
    background-image: url('../assets/BLM/Spells/HighFire2.png');
}

.hb2 {
    background-image: url('../assets/BLM/Spells/HighBlizzard2.png');
}

.triplecast {
    background-image: url('../assets/BLM/Spells/Triplecast.png');
}

.manafont {
    background-image: url('../assets/BLM/Spells/Manafont.png');
}

.swiftcast {
    background-image: url('../assets/BLM/Spells/Swiftcast.png');
}

.leyline {
    background-image: url('../assets/BLM/Spells/LeyLines.png');
}

.amplifier {
    background-image: url('../assets/BLM/Spells/Amplifier.png');
}

.xeno {
    background-image: url('../assets/BLM/Spells/Xenoglossy.png');
}

.tincture {
    background-image: url('../assets/BLM/Spells/Tincture.png');
}

.lucid {
    background-image: url('../assets/BLM/Spells/LucidDreaming.png');
}

.paradox {
    background-image: url('../assets/BLM/Spells/Paradox.png');
}