body {
    background-color: rgb(46, 46, 46);
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #daa520;
}

.header {
    height: 12vh;
    width: 100%;
    background-color: rgb(24, 24, 24);
}

.container {
    width: 80%;
    align-self: center;
    justify-content: space-around;
    display: flex;
    margin: auto;
    border: dashed chartreuse 3px;
}

.cont1 {
    margin: auto;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.6vh;
}

.header img{
    margin: 0.5%;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0%;
    width: 60%;
}

a {
    text-decoration: none;
    color: #daa520;
}

.destaque a{
    color: #f1d488;
}

.photoslide { /*CAROUSEL CSS HTML*/
    width: 100%;
    height: 100vh;
    background-color: rgb(30, 30, 30);
}

#div_lore {
    color: #daa520;
    border-left: 10vw; border-right: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4vh;
    padding: 1vw;

}

#div_lore h2 {
    font-size: 8vh;
}

.container.cont1 {
    border: dashed red 3px;
    width: 80vw;
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
    flex-direction: column;
}

.cont2{
    width: 80vw;
    margin-left: 10vw; margin-right: 10vw; margin-top: 5vh;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    border: dashed blueviolet 3px;
}

.rowtitle{
    text-align: center;
    background-color: rgb(30, 30, 30);
    margin-bottom: 1vh;
    width: 25vw;
    margin-left: 1vh;
    margin-right: 1vh;
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: 5vh;
    border: dashed pink 3px;
}

.row { /*Animations and Transitions CSS*/
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    border: dashed green 3px;
}

.row img {
    width: 25vw;
    height: 75vh;
}

.cell {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1vh;
    border: solid #daa520 0.2vw;
    width: 25vw;
}

.cont3 {
    border: dashed orangered 3px;
    display: flex;
    justify-content: center;
}